
body, html{
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    align-items: center;
    font-family: 'Lora', serif;
}
/* ****Start Nav******** */
nav ul{
    margin: 5px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

li a{
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 50px;
    align-items: center;
    text-align: center;
    margin: 2px;
    color: white;
    background-color: rgb(34, 101, 169);
}
/* ************* End Nav *************** */
/* ******Start 2nd Row with Title********** */
.name{
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    padding: 0px 40px;
    align-items: center;

}
.title {
    Flex: 0 1 auto;
    font-size: 1.8rem;
    border-right: 1px solid black;
    padding-right: 10px;
    font-weight: 500;
}
.title2{
    padding-left: 10px;
    flex: 1 1 auto;
    font-size: 0.9rem;
    font-weight: 600;
}

.contact{
    margin-left: 0 auto;
    line-height: 3px;
    font-size: 0.7rem;
}
/* ******End 2nd Row with Title********** */
/* ********Start blue box with containers */
.blue {
    position: relative;
    z-index: 0;
    display: flex;
    max-width: 960px;
    margin: 0px 40px;
    height: 53vh;
    background-color: rgb(189, 217, 254);
    color: white;
    align-items: center;
    justify-content: center;
}
.tech{
    padding: 0px 10px;
    /* letter-spacing: 5px; */
    border-radius: 5px;
    background-color: rgb(49, 137, 77);
    /* font-size: 5.7rem; */
    text-align: justify;
    /* width: 77%; */
    transform: rotate(-15deg) skew(20deg) scaleX(6) scaleY(11);
}
.box1, .box2{
    background-color: rgb(34, 101, 169);
    color: white;
}
.box1{
    position: absolute;
    z-index: 1;
    width: 316px;
    top: 2em;
    left: 2em;
    font-size: 0.8rem;
    text-align: justify;
    padding: 10px;
}
.box1::first-line{
    width: 220px;
    border-bottom: 1px dashed white;
    padding: 5px;
    text-align: left;
    font-size: 1.1rem;
}
.box2{
    position: absolute;
    z-index: 1;
    padding: 10px 25px;
    top: 31rem;
    right: 22rem;
    text-align: center;
    font-size: 3.8rem;
}
