
body, html{
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    align-items: center;
    font-family: 'Lora', serif;
}
nav ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}
li a{
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 50px;
    align-items: center;
    text-align: center;
    height: 20px;
    margin: 2px;
    color: white;
    background-color: rgb(77, 52, 223);
}
.name{
    display: flex;
    margin: -10px 0px;
    padding: 0px 40px;
    align-items: center;

}
.title {
    Flex: 0 1 auto;
    font-size: 30px;
    border-right: 1px solid black;
    padding-right: 10px;
}
.title2{
    padding-left: 10px;
    flex: 1 1 auto;
}

.contact{
    margin-left: 0 auto;
    line-height: 3px;
    font-size: 12px;
}
.blue {
    display: flex;
    max-width: 960px;
    margin: 30px 40px;
    height: 35vh;
    background-color: rgb(87, 133, 233);
    color: white;
    align-items: center;
    justify-content: center;
}
.tech{
    z-index: 1;
    padding: 10px 20px;
    letter-spacing: 5px;
    border-radius: 10px;
    background-color: teal;
    font-size: 5.7rem;
    text-align: center;
    width: 77%;
    transform: rotate(-10deg) skew(30deg) scaleX(1.1);
}
.box1, .box2{
    position: absolute;
    z-index: 2;
    background-color: rgb(34, 101, 169);
    color: white;
}
.box1{
    width: 260px;
    top: 170px;
    left: 23%;
    font-size: 12px;
    text-align: justify;
    padding: 10px;
}
.box1::first-line{
    width: 220px;
    border-bottom: 1px dashed white;
    padding: 5px;
    text-align: left;
    font-size: 16px;
}
.box2{
    padding: 10px 25px;
    top: 360px;
    right: 350px;
    height: 60px;
    text-align: center;
    font-size: 45px;
}